extends layout

block headAdditions
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  a#addContact(href="/addUser")
    div Create New Contact
  table
    tbody#contactList
      tr
        th Contacts
  script(src="https://code.jquery.com/jquery-2.2.0.min.js")
  script(src="javascripts/main.js")
