extends layout

block headAdditions
  link(rel='stylesheet' href='/stylesheets/userInfo.css')

block content
  ul
    li #{user.fullName}
    li Address: #{user.address}
    li Phone: #{user.phone}
    li E-Mail: #{user.email}
  a(href="/") View all contacts
  script(src="https://code.jquery.com/jquery-2.2.0.min.js")
